// the master color file is in the plugin
@import '../../../../plugins/infinisite-source/assets/acme/is_variables';

// These need to be set based on the breakpoints in the IS Foundation options
$mobile: "800px";
$tablet: "1200px";
$desktop: "1400px";
$large_desktop: "1600px";

// place file includes below
@import 'components/mixins';
@import 'components/body';
@import 'components/misc';
@import 'components/components';
@import 'components/header';
@import 'components/footer';
@import 'components/menu';
@import 'components/modules';
@import 'components/typography';
@import 'components/forms';
@import 'components/shop';