.off-canvas-content {
  &.is-open-right {
    transform : translateX(-100%) !important;
  }
}

.off-canvas {
  width     : 100% !important;
  transform : translateX(100%) !important;

  &.is-open {
    transform : translate(0, 0) !important;
  }

  .tdp-mobile-menu {

    .accordion-menu {

      button {
        height : 46px;

        &::after{
          border-width : inset 8px;
        }
      }

      a {

        color       : $primary;
        font-size   : 5vw;
        line-height : 1.3;

      }

      .nested {
        padding       : 15px 30px;
        background    : $primary;
        margin        : 0;
        position      : relative;
        right         : 15px;
        width         : calc(100% + 30px);
        border-top    : 1px solid $primary_dark;
        border-bottom : 1px solid $primary_dark;

        ul {
          border: none;
        }

        a {
          font-size     : 4.25vw;
          color         : $white;
          border-bottom : 1px solid $primary_dark;
        }

        button {
          &::after{
            border-color : $white transparent transparent;
          }
        }

        & > li:last-of-type {
          & > a {
            border : none;
          }
        }

      }
    }
  }


}