.light-green-with-flowers {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  position        : relative;
  background      : $secondary;
  padding         : 30px 50px;

  &:before {
    position          : absolute;
    content           : '';
    width             : 134px;
    height            : 96px;
    background-image  : url("/wp-content/uploads/2018/10/leaf3.png");
    background-repeat : no-repeat;
    top               : 20px !important;
    left              : 0;
  }

  &:after {
    position          : absolute;
    content           : '';
    width             : 206px;
    height            : 175px;
    background-image  : url("/wp-content/uploads/2018/10/leaf2.png");
    background-repeat : no-repeat;
    right             : 0px;
    top               : 40%;
  }

  .is-simple_content {
    position : relative;

    .divider {
      background : $white;
    }

    * {
      color : white;
    }

    /*

    h2 {
      color          : #FFF;
      line-height    : 1;
      position       : relative;
      padding-bottom : 20px;
      margin-bottom  : 20px;

      &:after {
        content       : "";
        position      : absolute;
        left          : 0;
        bottom        : 0;
        height        : 1px;
        width         : 35%;
        border-bottom : 1px solid $tertiary;
      }
    }

    h3 {
      text-transform : uppercase;
      color          : #285649;
      font-size      : 26px;
      letter-spacing : 1px;
    }

    p {
      color     : $white;
      max-width : 80%;
    }

*/

  }

  .button {
    @include ghost_button;
  }

  .divider {
    background : $white;
  }
}

.dark-green-with-flowers {

  position   : relative;
  background : $primary;
  overflow   : hidden;

  * {
    color : $white !important;
  }

  &:before, &:after {
    position          : absolute;
    content           : '';
    background-repeat : no-repeat;
  }

  &:before {
    width            : 92px;
    height           : 197px;
    background-image : url("/wp-content/uploads/2018/11/section2-leaf1.png");
    top              : 0;
    left             : 20px;
  }

  &:after {
    width            : 177px;
    height           : 133px;
    background-image : url("/wp-content/uploads/2018/11/section2-leaf3.png");
    right            : 0;
    bottom           : 60px;
  }


  .is-simple_content {
    position : relative;
    margin   : 0 auto;
    padding  : 45px;
    z-index  : 2;

    * {
      position : relative;
      z-index  : 3;
    }

    .divider {
      background : $white;
    }

    &:before {
      position          : absolute;
      content           : '';
      width             : 297px;
      height            : 257px;
      background-image  : url("/wp-content/uploads/2018/11/section2-leaf2.png");
      background-repeat : no-repeat;
      right             : 0;
      top               : 50px;
      z-index           : 1;
    }

    a.button {
      @include ghost_button($tertiary_xlight);
      margin : 0;
    }

    /*

    h2 {
      color          : #FFF;
      line-height    : 1;
      position       : relative;
      padding-bottom : 20px;
      margin-bottom  : 20px;

      &:after {
        content       : "";
        position      : absolute;
        left          : 0;
        bottom        : 0;
        height        : 1px;
        width         : 25%;
        border-bottom : 1px solid $tertiary;
      }
    }


    p {
      color     : #FFF;
      max-width : 400px;
    }

    ul {
      margin  : 30px 0 0 0;
      padding : 0;

      li {
        list-style : none;
        display    : inline-block;

        .button {
          width          : 165px;
          text-transform : uppercase;
        }

        .secondary {
          -webkit-border-radius : 20px;
          -moz-border-radius    : 20px;
          border-radius         : 20px;
          color                 : #FFF;
        }

        .tertiary {
          -webkit-border-radius : 20px;
          -moz-border-radius    : 20px;
          border-radius         : 20px;
          background            : transparent;
          border                : 1px solid $tertiary;
          color                 : $white;
        }

        @media only screen and (min-width : $tablet) {
          .tertiary {
            margin-left : 40px;
          }
        }
      }
    }
    */
  }
}


.light_green_flower_box {
  background : $secondary;


  .is-simple_content {
    position : relative;
    padding  : 45px;

    .divider {
      background : $white;
    }

    .button {
      @include ghost_button;
    }

    * {
      color : $white;

      &:last-child {
        margin-bottom : 0;
      }
    }

    .cell {
      z-index : 2;
    }


    &:before, &:after {
      position          : absolute;
      content           : '';
      background-repeat : no-repeat;
      z-index           : 0;

    }

    &:before {
      width            : 242px;
      height           : 205px;
      background-image : url("/wp-content/uploads/2018/11/section4-leaf2.png");
      bottom           : 20px;
      left             : 0px;
    }

    &:after {
      width            : 243px;
      height           : 205px;
      background-image : url("/wp-content/uploads/2018/11/section4-leaf1.png");
      right            : 0px;
      top              : 20px;
    }

  }
}


/**

.section-3 {
  h3 {
    text-align     : center;
    font-size      : 20px;
    color          : $primary;
    text-transform : uppercase;
    font-weight    : 600;
    margin-bottom  : 30px;
  }

  .img-overlay {
    position : relative;
    width    : 100%;

    .image {
      display : block;
      width   : 100%;
      height  : auto;
    }

    .overlay {
      position         : absolute;
      top              : 0;
      bottom           : 0;
      left             : 0;
      right            : 0;
      height           : 100%;
      width            : 100%;
      opacity          : 0;
      transition       : .5s ease;
      background-color : rgba(40, 86, 73, .9);
      display          : flex;
      flex-direction   : column;
      align-items      : center;
      justify-content  : center;
      color            : #FFF;

      p {
        max-width  : 200px;
        text-align : center;
        font-size  : 18px;
      }

      .button {
        width          : 165px;
        text-transform : uppercase;
      }

      .tertiary {
        -webkit-border-radius : 20px;
        -moz-border-radius    : 20px;
        border-radius         : 20px;
        background            : transparent;
        border                : 1px solid $tertiary;
        color                 : $white;
      }
    }

    &:hover {
      .overlay {
        opacity : 1;
      }
    }

    .text {
      color             : $white;
      font-size         : 20px;
      position          : absolute;
      top               : 50%;
      left              : 50%;
      -webkit-transform : translate(-50%, -50%);
      -ms-transform     : translate(-50%, -50%);
      transform         : translate(-50%, -50%);
      text-align        : center;
    }

  }
}
.section-5 {
  .is-simple_content {
    position : relative;
    height   : 100%;

    &:before {
      position          : absolute;
      content           : '';
      width             : 149px;
      height            : 116px;
      background-image  : url("/wp-content/uploads/2018/11/section5-leaf3.png");
      background-repeat : no-repeat;
      top               : 0px;
      left              : 0px;
    }

    &:after {
      position          : absolute;
      content           : '';
      width             : 148px;
      height            : 296px;
      background-image  : url("/wp-content/uploads/2018/11/section5-leaf1.png");
      background-repeat : no-repeat;
      left              : 0px;
      bottom            : 0px;
    }

    .grid-x {
      margin          : 0 auto;
      align-items     : center;
      justify-content : center;
      padding         : 30px 20px;
      max-width       : 530px;
      height          : 100%;
      @media only screen and (min-width : $tablet) {
        padding-left : 80px;
      }

      h2 {
        position       : relative;
        margin-bottom  : 20px;
        padding-bottom : 20px;

        &:after {
          content       : "";
          position      : absolute;
          left          : 0;
          bottom        : 0;
          height        : 1px;
          width         : 25%;
          border-bottom : 1px solid #D8D8D8;
        }
      }

    }
  }
}

.section-6 {
  .cell {
    max-width : 1080px;
    margin    : 0 auto;
  }

  h2 {
    color          : #5D5E5B;
    line-height    : 1;
    position       : relative;
    margin-bottom  : 20px;
    padding-bottom : 20px;
    font-size      : 36px;
    font-weight    : 600;


    &:after {
      content       : "";
      position      : absolute;
      left          : 0;
      bottom        : 0;
      height        : 1px;
      width         : 25%;
      border-bottom : 1px solid #D8D8D8;
    }
  }

  .gform_wrapper label.gfield_label {
    font-size : 14px;
    color     : $primary;
  }

  #gform_submit_button_1 {
    border-radius  : 20px;
    max-width      : 204px;
    display        : table;
    margin         : 0 auto;
    width          : 100%;
    text-transform : uppercase;
  }
}

.wsection-1 {
  h1 {
    font-size   : 48px;
    color       : #5D5E5B;
    font-weight : 600;
  }

  h4 {
    font-size      : 20px;
    color          : #989A94;
    text-transform : uppercase;
    font-weight    : 600;
  }
}

.wsection-2 {
  h4 {
    font-size      : 20px;
    text-transform : uppercase;
    position       : relative;
    padding-bottom : 10px;

    &:after {
      content  : "";
      position : absolute;
      left     : 0;
      bottom   : 0;
      height   : 1px;
    }
  }

  h2 {
    font-size   : 36px;
    color       : $white;
    font-weight : 600;
    margin      : 20px 0 40px;
    line-height : 1.3;
  }

  .button {
    border-radius  : 20px;
    text-transform : uppercase;
  }

  .wsection-2-1 {
    .is-simple_content {
      background : $primary;
      padding    : 40px 20px;

      .grid-x {
        max-width : 550px;
        margin    : 0 auto;
      }
    }

    h4 {
      color : $secondary;

      &:after {
        border-bottom : 1px solid $secondary;
        width         : 25%;
      }
    }
  }

  .wsection-2-2 {
    .is-simple_content {
      background : $secondary;
      padding    : 40px 20px;

      .grid-x {
        max-width : 550px;
        margin    : 0 auto;
      }
    }

    h4 {
      color : $primary;

      &:after {
        border-bottom : 1px solid $primary;
        width         : 15%;
      }
    }
  }
}

.wsection-4 {
  background : #e4e4e4;

  h3 {
    font-size      : 26px;
    font-weight    : 600;
    text-transform : uppercase;
    color          : $primary;
  }

  .button {
    padding        : 0.75em 3em;
    border-radius  : 20px;
    margin-top     : 10px;
    text-transform : uppercase;
  }

  .grid-container {
    max-width : 1200px;
  }
}

.wsection-5 {
  .grid-container {
    max-width : 1300px;
  }

  h3 {
    font-size      : 36px;
    font-weight    : 600;
    color          : $white;
    position       : relative;
    margin-bottom  : 30px;
    padding-bottom : 20px;

    &:after {
      content       : "";
      position      : absolute;
      left          : 0;
      bottom        : 0;
      height        : 1px;
      border-bottom : 1px solid $white;
      width         : 15%;
    }
  }

  p {
    font-size : 14px;
    color     : $white;
  }

  .button {
    border         : 1px solid $secondary;
    border-radius  : 20px;
    text-transform : uppercase;
  }

  .large-7 {
    .is-simple_content {
      background : $primary;
      padding    : 40px 60px;
      height     : 100%;
    }
  }
}

.wsection-6 {
  .grid-container {
    max-width : 1300px;
  }

  h3 {
    font-size      : 20px;
    color          : $secondary;
    text-transform : uppercase;
    font-weight    : 600;
  }

  .large-7 {
    .is-simple_content {
      padding : 40px 60px;
    }
  }

  .large-5 {
    a {
      font-size      : 14px;
      padding        : 10px 0;
      color          : $primary;
      font-weight    : 700;
      text-transform : uppercase;
      display        : block;

      .dashicons {
        vertical-align : -5px !important;
      }
    }
  }

  ul {
    li {
      margin     : 10px 0;
      font-size  : 18px;
      color      : $primary;
      list-style : none;

      &:before {
        content     : "\2022";
        color       : $tertiary;
        font-size   : 30px;
        font-weight : bold;
        display     : inline-block;
        width       : 1em;
        margin-left : -1em;
      }
    }
  }
}

.wsection-7 {
  .grid-container {
    max-width : 1300px;
  }

  h3 {
    font-size      : 36px;
    font-weight    : 600;
    color          : $white;
    position       : relative;
    margin-bottom  : 30px;
    padding-bottom : 20px;

    &:after {
      content       : "";
      position      : absolute;
      left          : 0;
      bottom        : 0;
      height        : 1px;
      border-bottom : 1px solid $white;
      width         : 15%;
    }
  }

  p {
    font-size : 14px;
    color     : $white;
  }

  .button {
    border         : 1px solid $primary;
    border-radius  : 20px;
    text-transform : uppercase;
    color          : $white !important;
    margin-top     : 40px;
  }

  .large-7 {
    .is-simple_content {
      background : $secondary;
      padding    : 40px 60px;
      height     : 100%;
    }
  }
}

.wsection-8 {
  .grid-container {
    max-width : 1300px;
  }

  h3 {
    font-size      : 20px;
    color          : $secondary;
    text-transform : uppercase;
    font-weight    : 600;
  }

  .large-7 {
    .is-simple_content {
      padding : 40px 60px;
    }
  }

  .large-5 {
    a {
      font-size      : 14px;
      padding        : 10px 0;
      color          : $secondary;
      font-weight    : 700;
      text-transform : uppercase;
      display        : block;

      .dashicons {
        vertical-align : -5px !important;
      }
    }
  }

  ul {
    li {
      margin     : 10px 0;
      font-size  : 18px;
      color      : $primary;
      list-style : none;

      &:before {
        content     : "\2022";
        color       : $tertiary;
        font-size   : 30px;
        font-weight : bold;
        display     : inline-block;
        width       : 1em;
        margin-left : -1em;
      }
    }
  }
}

*/

.tdp-topbottom-border {
  .grid-container {
    border-top    : 1px solid $primary;
    border-bottom : 1px solid $primary;
  }
}

.gform-section {
  .gform_wrapper {
    label.gfield_label {
      color : $tertiary !important;
    }
  }
}

.tdp_multiple_images {
  &.three_columns {
    .cell {
      margin-top    : 10px;
      margin-bottom : 10px;

    }
  }

  img {
    width : 100%;
  }
}


.tdp-vertical-stretch-portfolio {

  background-position : center;
  background-size     : cover;

  & > .grid-y > .cell {
    &:first-of-type {
      margin-top : 0;
    }

    margin-bottom : 15px;

    &:last-of-type {
      margin-bottom : 0;
    }
  }

}

.tdp-horizontal-stretch-portfolio {
  .cell {
    &:first-of-type {
      margin-left : 0;
    }

    &:last-of-type {
      margin-right : 0;
    }
  }
}

.tdp-horizontal-stretch-portfolio,
.tdp-vertical-stretch-portfolio {

  .cell {
    position : relative;
  }

  .container {
    background-size     : cover;
    background-position : center;
  }

}


.gray-box-with-flowers {
  position : relative;
  overflow : hidden;

  &:before, &:after {
    content           : "";
    position          : absolute;
    background-size   : contain;
    background-repeat : no-repeat;
  }


  &:before {
    top                 : 0;
    left                : 0;
    bottom              : 0;
    width               : 200px;
    background-image    : url(../img/tdp-schedule-apt-flower-left.png);
    background-position : top left;
  }

  &:after {
    top                 : 20px;
    bottom              : 0;
    right               : 50px;
    width               : 200px;
    background-image    : url(../img/tdp-schedule-apt-flower-right.png);
    background-position : top right;
  }

  .cell {
    position : relative;
    z-index  : 2;
  }

  @media(min-width : $mobile) {
    .is-header {
      padding-right : 15%;
    }
  }
}


.tdp-portfolio {

  .item-container {
    position : relative;

    &:hover {
      .overlay {
        opacity : 1;
      }
    }

    .overlay {
      position        : absolute;
      top             : 13px;
      bottom          : 13px;
      left            : 13px;
      right           : 13px;
      display         : flex;
      align-items     : center;
      justify-content : center;
      flex-direction  : column;
      background      : transparentize($primary, .05);
      opacity         : 0;
      transition      : 250ms all ease-out;

      * {
        color : $white;
      }

      a {
        @include ghost_button();
        margin : 0;
      }
    }
  }

  .is_page_builder_row {


    @media(min-width : $mobile) {

      & > .cell:first-of-type {
        border-top     : 1px solid $primary;
        border-bottom  : 1px solid $primary;

        padding-top    : 25px;
        padding-bottom : 25px;
      }

    }
  }

}

.gform, .gform_multi_column {
  label {
    color : $tertiary;
  }
}

.tdp_portfolio_gallery {

  .gallery-container > .grid-x {
    margin : 0;

    &.medium-up-3 {
      .cell {
        &:nth-of-type(3n + 1) {
          padding-left : 0;

          .overlay {
            left : 0;
          }
        }

        &:nth-of-type(3n + 2) {
          padding-left  : 6.25px;
          padding-right : 6.25px;

          .overlay {
            left  : 6.25px;
            right : 6.25px;
          }
        }

        &:nth-of-type(3n) {
          padding-right : 0;

          .overlay {
            right : 0;
          }
        }
      }
    }

    &.medium-up-2 {
      .cell {
        &:nth-of-type(2n + 1) {
          padding-left : 0;

          .overlay {
            left : 0;
          }
        }

        &:nth-of-type(2n) {
          padding-right : 0;

          .overlay {
            right : 0;
          }
        }
      }
    }


  }

}

.single-product {

  .tdp-product-single-gallery {

    img {
      border : 1px solid $gray_xlight;
    }


  }

  .tabs-content {
    border : none;
  }

  ul.vertical.tabs {
    li {
      a {
        padding : 12px 15px;

        h6 {
          margin : 0;
        }
      }
    }
  }

  .pewc-group-wrap {


    .pewc-item-field-wrapper {
      label {
        text-align  : center;
        font-family : 'yeseva one', serif;
        color       : $primary;
        font-size   : 24px;
      }

      img {
        box-shadow : 0 0 7px $gray_light;
      }
    }

    @media (min-width : $mobile) {
      li {
        margin-top    : 1rem;
        margin-bottom : 2rem;

        &.pewc_group_76b7c3895b4c91a8_866d7ae6082a5200,
        &.pewc_group_5aa3c567bee7deae_a9e6ecdb9b681c4c,
        &.pewc_group_9a2615b9f3c7ead7_fb33f21ae9e35de7,
        &.pewc_group_ea9d7f45afc7d306_2c0a7b2e41848666,
        &.pewc_group_04ce89256f078033_351596b9b5b98088,
        &.pewc_group_cac79ebd57f7c39e_963262ef15304830,
        &.pewc_group_60e5040786bb82b6_21b965f0fc2426ba,
        &.pewc_group_df433722c6f5cbb7_ff840661d4c2b93e {

          .pewc-item-field-wrapper {

            display         : flex;
            align-content   : center;
            justify-content : center;

            input {
              width         : 150px;
              margin-left   : 30px;
              margin-bottom : 0;
            }

            &:after {
              content     : "Multiples of 10, please";
              line-height : 44px;
              font-size   : 12px;
              margin-left : 25px;
              font-style  : italic;
            }

            @media (max-width : $mobile) {
              flex-direction : column;
              align-items    : center;

              input {
                margin-left : 0;
              }
            }
          }
        }

        &.pewc_group_19b40ac411a15262_0214d1bffe5a59c7,
        &.pewc_group_19b40ac411a15262_1e045545414896ff {
          .pewc-radio-images-wrapper {
            justify-content : flex-start;

            .pewc-radio-image-wrapper {
              width : 10% !important;

              .pewc-radio-image-desc {
                font-size : 13px;
              }

              @media(max-width : $mobile) {
                width : 20% !important;
              }
            }
          }

          img {
            box-shadow : none;
          }

        }

        &.pewc_group_7b47e19fab55c1bd_d456790ee758d1bf,
        &.pewc_group_7b47e19fab55c1bd_7132364dcb6b8ee2 {
          width : 50%;
          float : left;
        }

        &.pewc_group_7b47e19fab55c1bd_7132364dcb6b8ee2 {
          padding-right : 7px;
        }

        &.pewc_group_7b47e19fab55c1bd_d456790ee758d1bf {
          padding-left : 7px;
        }


      }
      // collection options for each page

      &.pewc-group-wrap-5aa3c567bee7deae,
      &.pewc-group-wrap-9a2615b9f3c7ead7,
      &.pewc-group-wrap-ea9d7f45afc7d306,
      &.pewc-group-wrap-04ce89256f078033,
      &.pewc-group-wrap-df433722c6f5cbb7,
      &.pewc-group-wrap-cac79ebd57f7c39e,
      &.pewc-group-wrap-76b7c3895b4c91a8,
      &.pewc-group-wrap-60e5040786bb82b6 {
        .pewc-radio-images-wrapper {
          justify-content : flex-start;

          .pewc-radio-image-wrapper {
            margin-right : 2%;

            &:last-of-type {
              margin-right : 0;
            }
          }


        }
      }

      // quantity options for each page

      &.pewc-group-wrap-14784774f1ec0ac9 {

        .pewc-product-extra-groups {
          display         : flex;
          flex-wrap       : wrap;
          justify-content : space-between;
        }

        // invitation, rsvp and insert
        .pewc_group_14784774f1ec0ac9_13f31ac220743e85,
        .pewc_group_14784774f1ec0ac9_e5a8bdd45bbbf34d,
        .pewc_group_14784774f1ec0ac9_3bd75fd08a9da998 {
          flex : 0 0 30%;
        }

        .pewc_group_14784774f1ec0ac9_6901287280a9c407,
        .pewc_group_14784774f1ec0ac9_efe820c62fee42de {
          flex : 0 0 48%;
        }

      }

    }


    &.pewc-group-wrap-7b47e19fab55c1bd,
    &.pewc-group-wrap-fb4059086372af99,
    &.pewc-group-wrap-6af63c79f18843c6,
    &.pewc-group-wrap-b3032c7c8b4aced2 {
      label {
        font-size   : 15px;
        text-align  : left;
        font-family : 'Montserrat', sans-serif;
      }
    }

    textarea {
      min-height : 150px;
    }

  }

  .pewc-total-field-wrapper {
    display       : none;

    margin-bottom : 0 !important;

    p {
      display : none;

      &:last-of-type {
        display     : block;
        font-weight : 800;
        font-size   : 18px;
        color       : $primary;
        text-align  : center;

        span {
          float : none !important;

          &#pewc-grand-total-label {
            text-transform : capitalize;

            &:after {
              content : " : ";
            }
          }

        }


      }
    }

  }

  .product {

    padding-bottom : 60px;

    .pewc-field-price {
      font-size      : 14px;
      font-weight    : 800;
      letter-spacing : 0.6px;

      &:after {
        content   : "/ea";
        font-size : 11px;
      }

    }

    label {
      color       : $gray_xxdark;
      font-size   : 18px;
      line-height : 2;
    }

    .checkout-button {
      justify-content : center;
      width           : 75%;
      float           : right;

      .input-text {
        display : none;
      }

      button {
        font-family : 'Yeseva One', serif;
        font-size   : 22px;
        padding     : 13px 19px;
      }

    }

    /*
      li {
        &.pewc_group_9a2615b9f3c7ead7_fb33f21ae9e35de7,
        &.pewc_group_9a2615b9f3c7ead7_5866f2376f0ecef2,
        &.pewc_group_ea9d7f45afc7d306_7ecda1ef1365a1ed,
        &.pewc_group_04ce89256f078033_b8958d1c96dbd20e,
        &.pewc_group_04ce89256f078033_351596b9b5b98088,
        &.pewc_group_cac79ebd57f7c39e_b38f0a9799f65f57,
        &.pewc_group_cac79ebd57f7c39e_4e3c298f8477dc02,
        &.pewc_group_5aa3c567bee7deae_850ee8b8c7c07408,
        &.pewc_group_5aa3c567bee7deae_a9e6ecdb9b681c4c {
          width   : 50%;
          float   : left;
          padding : 0 15px;

          &:nth-of-type(1) {
            padding-left : 0 !important;
          }

          &:nth-of-type(2) {
            padding-right : 0 !important;
          }
        }
      }
    */

    .quantity {
      display : none;
    }

    .checkout-button {
      margin-top : 45px;
    }
  }

}


.fancybox-container {

  .fancybox-caption-wrap {
    background : linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, .8));

    .fancybox-caption {
      font-size   : 36px;
      line-height : 1.1;
      font-family : 'yeseva one', serif;
      text-align  : center;
      color       : $tertiary_xlight;

      span {
        font-size : 21px;
      }

    }
  }
}


// checkout page

.page-id-208 {


  .woocommerce {

    .woocommerce-message {
      text-align : center;

      .button {
        margin-right : 15px;
      }
    }

    .coupon {

      display     : flex;
      align-items : center;

      * {
        margin-bottom : 0;
      }

      input[type=text] {
        margin : 0 15px;
      }
    }

    .button[name=update_cart] {
      margin  : 15px auto 0;
      display : block;
    }

    .woocommerce-cart-form {

      .cart_item {
        vertical-align : top;

        .product-name {
          & > a {
            font-weight : bold;
            font-size   : 22px;
          }
        }

        .product-price {
          text-align : center;
        }

        .remove {

          font-size   : 30px;
          text-align  : right;
          width       : 100%;
          display     : block;
          font-weight : bold;
        }


        dl.variation {
          font-size : 14px;

          p {
            .pewc-cart-item-price {
              float : right;
            }
          }
        }
      }
    }

    .cart-collaterals {

      .wc-proceed-to-checkout {


        a.button {
          br {
            display : none;
          }

          display : block;
          width   : 240px;
          margin  : auto;
        }
      }

    }

  }


}


#team_bios {
  a {
    font-size   : 1.8rem;
    font-weight : 700;
  }
}

#press-images {
  .medium-up-3 {
    .cell {
      width         : 25%;
      padding-right : 0.78125rem;
      padding-left  : 0.78125rem;
      @media screen and (max-width : 767px) {
        width : 50%;
      }
    }
  }
}

#press-images {
  .show-for-medium {
    @media screen and (max-width : 767px) {
      display : block !important;
    }
  }
}

.woocommerce-cart {
  table {
    tbody {
      border : none;
    }

    tr {
      &:nth-child(even) {
        background-color : $white;
      }
    }
  }

  .cart_totals {
    table {
      tbody {
        tr {
          th {

            text-align     : right;
            border-right   : 1px solid #eff0ef;
            font-weight    : normal;
            vertical-align : top;
            font-size      : 14px;
          }
        }
      }
    }
  }


}

.woocommerce-order {

  .woocommerce-thankyou-order-received {
    margin    : 0 auto 15px;
    max-width : 800px;
  }

  .woocommerce-order-overview {
    list-style : none;
    max-width  : 800px;
    margin     : 0 auto 45px;
  }

  .woocommerce-table--order-details {
    td.product-name {
      & > a {
        font-size   : 24px;
        font-family : 'yeseva one', serif;
      }

      p {
        &:last-of-type {
          display : none;
        }
      }
    }
  }

  .woocommerce-customer-details {
    .woocommerce-columns {
      display : flex;

      & > p {
        display : none;
      }

      div {
        flex : 1 1 auto;
      }

      address {
        font-style : normal;
      }
    }
  }
}

.woocommerce-MyAccount-navigation {
  ul {
    margin: 0 0 25px 0;
    display: flex;
    list-style: none;
    justify-content: center;

    a {
      padding: 7px 15px;
    }

    .is-active {
      a {
        font-weight: bold;
      }
    }

    .woocommerce-MyAccount-navigation-link--payment-methods,
    .woocommerce-MyAccount-navigation-link--downloads {
      display: none;
    }
  }
}

.woocommerce-MyAccount-orders.shop_table {


  .woocommerce-button {
    margin: 0 10px 15px 0;
  }

}

