footer {
  .secondary-content {
    h4 {
      color          : $tertiary;
      text-transform : uppercase;
      margin-bottom  : 20px;
      font-size      : 12px;
      font-weight    : 600;
    }

    ul {
      margin  : 0;
      padding : 0;

      li {
        color          : #FFF;
        text-transform : uppercase;
        list-style     : none;
        font-size      : 12px;
        padding        : 5px 0;

        a {
          color     : #FFF;
          font-size : 12px;
        }
      }
    }
  }

  #menu-main-menu-1,
  #menu-main-menu-2 {
    & > li {
      flex : 1;

      & > a {
        color          : $tertiary;
        text-transform : uppercase;
        min-height     : 47px;
        font-size      : 12px;
        font-weight    : 600;
      }

      &.menu-item-78 {
        @media(min-width : $mobile) and (max-width : $tablet) {
          position : relative;
          top      : -12px;
        }
      }

    }

    .sub-menu {
      margin : 0;

      li {
        list-style : none;

        a {
          color     : $white;
          display   : block;
          font-size : 12px;
          width     : 100%;
        }
      }
    }

    a {
      color     : $white;
      display   : block;
      font-size : 12px;
      width     : 100%;
    }
  }


  @media (max-width : $mobile) {

    .logo {


      img {
        display : block;
        margin  : 7px auto 42px;
      }


    }


  }
}