.gform_wrapper {

  form {

    .ginput_complex {
      display : flex;

      p {
        flex : 1 1 auto;

        span {
          width : 100% !important;

          br {
            display : none;
          }
        }
      }
    }


  }


  &#gform_wrapper_3 {
    form {

      input {
        &:not([type=submit]) {
          width : 100%;
        }
      }


      li {

        float : left;
        clear : none;
        width : 100%;

        &#field_3_2,
        &#field_3_6 {
          width : 50%;
        }

        &#field_3_3 {
          width : 35%;
          clear : left;
        }

        &#field_3_4 {
          width : 65%;
        }

        &#field_3_7 {
          & > div {
            margin : 0 auto 30px;
          }
        }
      }

      .gform_footer {
        text-align : center;

        br {
          display : none;
        }

        p {
          margin : 0;
        }

      }

    }
  }


  &#gform_wrapper_4 {

    form {

      input {
        background   : transparent;
        border-color : $primary;
        padding      : 18px 28px;
        box-shadow   : none;

        &:not([type=submit]) {
          width : 100%;
        }

        &[type=submit] {
          border-color   : $primary;
          color          : $primary;
          text-transform : uppercase;
          border-radius  : 50px;
        }

        &::placeholder {
          color : $primary;
        }
      }

      textarea {
        background   : transparent;
        border-color : $primary;
        box-shadow   : none;
        padding      : 18px 28px;

        &::placeholder {
          color : $primary;
        }
      }
    }

    .gform_footer {
      text-align : center;

      br {
        display : none;
      }

      p, + p {
        margin : 0;
      }
    }

    p, + p {
      margin : 0;
      height : 0;
    }
  }
}

.single-product form.cart {

  .invalid-integer {
    input {
      background : $alert_xxlight;
    }

    &:after {
      content    : "Multiples of 10 only, please";
      display    : block;
      text-align : center;
      font-size  : 12px;
    }
  }


}


form[name='checkout'] {
  max-width : 770px;
  margin    : auto;
}

.woocommerce-checkout {

  .woocommerce-checkout-review-order-table {

    th, td {
      &.product-total {
        width : 150px;
      }

    }

    td.product-total {
      vertical-align : top;
    }

    dl, dt {
      font-size : 12px;

      p {
        margin-bottom : 8px;
      }

      &:last-of-type p {
        //border-bottom : none;
      }
    }

    .product-name {
      .product-quantity {
        display : none;
      }
    }

    .variation {
      margin-top : 15px;
      width      : 100%;

      dl, dt {
        float : left;
      }

      dt {
        width : 30%;
      }

      .variation- {
        display : none;
      }
    }

  }

  .wc_payment_methods {
    margin     : 0;
    list-style : none;
  }

  .payment_method_authorize_net_cim_credit_card {
    margin    : 10px 0;
  }

  .wc-authorize-net-cim-credit-card-new-payment-method-form {
    display   : flex;
    flex-wrap : wrap;

    p {

      padding : 0 15px 0 0;

      &#wc-authorize-net-cim-credit-card-account-number_field {
        flex : 0 0 100%;
      }

      &#wc-authorize-net-cim-credit-card-expiry_field {
        flex : 0 0 70%;
      }

      &#wc-authorize-net-cim-credit-card-csc_field {
        flex : 0 0 30%;
      }

    }
  }

  .wc_payment_method {
    background : $gray_xxlight;
    padding    : 25px;
    margin     : 15px 0;
    border     : 1px solid $gray_xlight;

    input {
      margin-bottom: 0;
    }

    label[for='payment_method_authorize_net_cim_credit_card'] {

      width: 100%;
      text-align: center;
      font-size: 25px;
      color: $gray_xdark;
    }
  }

  button#place_order {
    margin: 40px auto 0;
    display: block;
    font-size: 28px;
    text-transform: capitalize;
    padding: 15px 27px;
  }

}
