[data-dropdown-menu] ul {
  display: none;
}

.is-standard-desktop-header {

  .menu {

    a {
      text-transform : uppercase;

      &:hover {
        color : $secondary;

      }
    }


    .current-menu-parent {
      & > a {
        font-weight: 600;
      }
    }
    .current-menu-item {
      & > a {
        font-weight: 700;
      }
    }

    .sched-link {
      a {
        border                : 1px solid #A4C264;
        -webkit-border-radius : 20px;
        -moz-border-radius    : 20px;
        border-radius         : 20px;

        &:hover {
          color      : $white;
          background : $primary;
        }
      }
    }
  }


  #menu-schedule-appointment {

    margin-left: 15px;

    a {
      border: 1px solid $primary;
      border-radius: 25px;
      padding: 9px 17px;
      text-align: center;

      &:hover {
        background: $primary;
        color: $white;
      }
    }

  }

}
