.tdp-submenu {
  ul.menu.dropdown {
    display    : block;
    text-align : center;

    .is-menu-branch-walker-title {
      display : none;
    }

    & > li {
      display : inline-block;
      padding : 10px 25px;

      a {
        color          : $tertiary;
        font-weight    : bold;
        padding        : 3px 0;
        letter-spacing : 0.4px;

        &:after {
          border              : inset 4px !important;
          border-bottom-width : 0 !important;
          border-top-style    : solid !important;
          border-color        : $tertiary transparent transparent !important;
          right               : 9px !important;
        }
      }

      &.current-menu-item {
        a {
          border-bottom : 1px solid $primary;
        }
      }

    }
  }

  .is-drilldown {
    margin : auto;
  }


  .is-dropdown-submenu {

    border        : none;
    width         : 100%;
    margin        : 0;
    border-bottom : 2px solid $primary;

    li {
      display : block;
      margin  : 0;

      a {
        padding : 7px 0 !important;
      }
    }

  }


}

.is-standard-desktop-header {
  .primary-menu-area {

    .first-sub {
      left      : 0 !important;
      right     : 0 !important;
      min-width : 200px;
    }

    ul.dropdown {

      & > li {
        & > a {
          padding-left   : 15px;
          padding-right  : 15px;
          letter-spacing : .4px;
          background     : transparent;
          transform      : 250ms all ease-out;

          &:after {
            display      : none;
          }

        }

        & > ul {
          padding-top : 3px;
        }

        &:hover {
          & > a {

            background : $secondary_xlight;

            &:after {
              color     : $primary_dark;
              transform : rotate(0deg);
              top       : 16px;
            }
          }
        }
      }

      a {
        padding-left : 25px;

        &:after {
          border             : 3px inset;
          border-right-style : solid;
          border-color       : transparent $primary transparent transparent;
          left               : 10px;
        }
      }

      ul {
        border     : none;
        border-top : 1px solid $secondary_xlight;
        background : lighten($primary, 73);

        a {
          text-transform : none !important;
          display        : block;
          transition     : 250ms all ease-out;
          width          : 100%;
          letter-spacing : .5px;

          &:hover {
            background : $secondary_xlight;
            color      : $secondary_dark;
          }
        }

        .current-menu-item {
          & > a {
            font-weight : 700;
          }
        }
      }

    }

  }
}

.off-canvas {
  .accordion-menu {
    a {
      color : $secondary_xxlight;

      &:after {
        border-color : $secondary_xxlight;
      }
    }
  }
}

footer {


}