.divider {
  width      : 150px;
  height     : 3px;
  clear      : both;
  background : $primary;
  margin     : 7px 0 15px;

  &.long {
    width: 300px;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  @each $label, $color in $is_global_palette {

    &.#{$label} {
      background : $color;
    }

  }
}

.is-page-builder-wrapper {

  & > .row-wrapper {
    &:first-of-type {
      position: relative;
      z-index: 50;
    }
  }


}