@mixin ghost_button($color: $gray_xxdark) {

  background   : transparent;
  border-color : $white;
  color        : $white;

  &:hover {
    border-color : $color !important;
    background   : transparent !important;
    color        : $color !important;
  }

}