.is-content-wrapper {
  z-index : 0;
}

.side_flowers_1 {
  background    : $primary;
  margin-bottom : 15px;
  position      : relative;
  height        : 100%;

  .grid-x {
    max-width       : 700px;
    margin          : 0 auto;
    align-items     : center;
    justify-content : center;
    padding         : 30px 20px;
    min-height      : 598px;

    &:before {
      position          : absolute;
      content           : '';
      width             : 207px;
      height            : 466px;
      background-image  : url("/wp-content/uploads/2018/12/side_flower_1.png");
      background-repeat : no-repeat;
      right             : 0;
      top               : 50px;
    }

    h2 {
      line-height    : 1;
      position       : relative;
      padding-bottom : 20px;
      margin-bottom  : 20px;
      font-weight    : 700;
    }

    p {
      color : #FFF;
    }

    ul {
      margin  : 30px 0 0 0;
      padding : 0;

      li {
        list-style : none;
        display    : inline-block;

        @media only screen and (min-width : $tablet) {
          .tertiary {
            margin-left : 40px;
          }
        }
      }
    }

    .button {
      text-transform : uppercase;
    }

    .secondary {
      -webkit-border-radius : 20px;
      -moz-border-radius    : 20px;
      border-radius         : 20px;
      color                 : #FFF;
    }

    .tertiary {
      -webkit-border-radius : 20px;
      -moz-border-radius    : 20px;
      border-radius         : 20px;
      background            : transparent;
      border                : 1px solid $tertiary;
      color                 : $white;
    }
  }
}


.tdp-insta-title {
  display         : flex;
  align-items     : center;
  justify-content : center;

  a {
    font-size      : 14px;
    text-transform : uppercase;
    font-weight    : bold;
    font-family    : 'Montserrat';
    margin-left    : 10px;
  }
}


.tdp-portfolio-meta {

  position : absolute;
  bottom   : 0;
  left     : 0;
  right    : 0;

  p {
    margin  : 0;
    display : none;
  }

  .admin-bar & {


    background : rgba(255, 255, 255, .4);
    padding    : 7px;

    p {
      display : block;
    }

  }

}

.tdp-portfolio {
  position        : relative;
  background-size : cover;

  &.image-only {

    .alt_img {
      opacity : 0;
    }

    .img-bg {
      position            : relative;
      background-size     : cover;
      background-position : center;
    }

  }

  &.image-with-overlay {
    position : relative;


    .content {
      transition      : 250ms all ease-out;
      opacity         : 0;
      position        : absolute;
      top             : 0;
      bottom          : 0;
      left            : 0;
      right           : 0;
      display         : flex;
      flex-direction  : column;
      align-items     : center;
      justify-content : center;

      padding         : 30px;
      text-align      : center;

      background      : transparentize($primary, .5);

      &:hover {
        opacity : 1;
      }


      * {
        color : white;
      }
    }
  }

}


.tdp-blog {

  &.full-row-excerpt-picture {

    .content {
      position : relative;
      margin   : 0 auto;
      padding  : 30px 20px;

      @media only screen and (min-width : $tablet) {
        padding-left : 80px;
      }

      &:before,
      &:after {
        position          : absolute;
        content           : '';
        background-repeat : no-repeat;
        top               : 0;
        left              : 0;
      }

      &:before {
        width            : 149px;
        height           : 116px;
        background-image : url("/wp-content/uploads/2018/11/section5-leaf3.png");
      }

      &:after {
        width            : 148px;
        height           : 296px;
        background-image : url("/wp-content/uploads/2018/11/section5-leaf1.png");
      }


      h2 {
        color          : #5D5E5B;
        line-height    : 1;
        position       : relative;
        margin-bottom  : 20px;
        padding-bottom : 20px;
        font-size      : 36px;
        font-weight    : 600;


        &:after {
          content       : "";
          position      : absolute;
          left          : 0;
          bottom        : 0;
          height        : 1px;
          width         : 25%;
          border-bottom : 1px solid #D8D8D8;
        }
      }

      h3 {
        color          : #5D5E5B;
        font-weight    : 600;
        font-size      : 20px;
        text-transform : uppercase;
        margin-bottom  : 0px;
      }

      h7 {
        color          : #66A579;
        font-style     : 14px;
        text-transform : uppercase;
      }

      p {
        color : #5D5E5B;

        a {
          color : #66A579;
        }
      }
    }
  }
}


.tdp-content-box {
  padding : 45px;
}

.tdp-sidebar-box {
  padding : 45px;
}

body.single-product {


  .pewc-group-wrap {

    .pewc-group-heading-wrapper {
      h3 {
        margin-bottom : 0;
      }
    }

    .pewc-group-content-wrapper {


      border     : 1px solid $gray;
      padding    : 15px;
      margin     : 15px;
      overflow   : hidden;
      transition : 250ms all ease-out;

      &.collapse {
        height : 0;
      }
    }

  }

  ul.pewc-product-extra-groups {

    margin : 0;

  }

  // save the date form customizations

  &.postid-972 {


    .pewc-group-wrap-42f107 {

      label {
        font-size : 16px;
      }

      @media(min-width : $tablet) {
        ul.pewc-product-extra-groups {
          display   : flex;
          flex-wrap : wrap;


          li {


            // quantity and envelope options
            &.pewc_group_42f107_cc1d3c,
            &.pewc_group_42f107_528bc2,
            &.pewc_group_42f107_9cebed,
            &.pewc_group_42f107_635696,
            &.pewc_group_42f107_78811f,
            &.pewc_group_42f107_b8d31e {
              flex            : 0 0 50%;
              display         : flex;
              justify-content : center;
              margin          : 0 0 65px;
              text-align      : center;

              p {
                white-space : pre-line;
                font-size   : 14px;
                color       : $gray_xdark;
                line-height : 18px;
              }

              input[type=number] {
                width  : 250px;
                margin : 0 auto 16px;
              }

              textarea {
                width : 320px;
              }
            }

            // save the date design field
            &.pewc_group_42f107_6f730c {

              label[for='pewc_group_42f107_6f730c'] {
                display : none;
              }

              // design options
              .pewc-radio-images-wrapper {
                align-items : flex-end;

                img {
                  transition : 150ms all ease-out;
                }

                input:checked + img {
                  border-color : $warning_light;
                }
              }

            }


            // return address text input
            &.pewc_group_42f107_b8d31e {

              textarea {
                min-height : 90px;
              }
            }


            // wording field
            &.pewc_group_42f107_29aecc {
              textarea {
                max-width : 900px;
                margin    : 7px auto 15px;

              }
            }


            .item-description {
              text-align  : center;
              font-style  : italic;
              color       : gray;
              line-height : 2;
            }


            flex : 0 0 100%;

            input[type=text] {
              max-width : 650px;
              margin    : auto;
            }
          }
        }


      }
    }


    .checkout-button {
      width : 100%;
    }

  }

}

.is-content-wrapper {

  .tabs-content {
    border : none;
  }
}


.tdp-full-height-single-image {
  .full-height {
    background-position : center;
  }
}

ul.two_columns {
  li {
    float: left;
    width: 50%;
  }
}