.product-type-simple {

  h1.product_title,
  p.price {
    display: none;
  }

  .checkout-button {


    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : flex-end;
    padding-right   : 30px;

    input[type=number] {
      margin : 0 7px 0 0;
    }

  }


  .product_meta {
    .posted_in {
      display : none;
    }
  }



}