.bold-text {
  font-weight : 700;
}

.serif {
  font-family : 'Yeseva One', serif;
}


[data-editor-style] {
  p > a {
    text-decoration : underline;
  }

  p {
    &.large-paragraph {
      font-size : 22px;
    }

    &.subheader-paragraph {
      font-size : 20px;
      color     : $gray_dark;
    }
  }
}


.text-uppercase {
  text-transform : uppercase;
}

.button-group {
  margin          : 0;
  list-style-type : none;

  li {
    margin : 0 7px;
  }
}

a.arrow-link {

  font-weight: 600;

  &:after {
    content     : "\f061";
    font-family : "Font Awesome 5 Pro", sans-serif;
    font-size   : 75%;
    position    : relative;
    top         : -1px;
    margin-left : 6px;
  }

}